<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue-2.6.10.js"></script>
</head>
<body>
    <div id="vue">
        <h1 v-if="ok">YES</h1>
        <h1 v-else>NO</h1>
        <input type="checkbox" v-model="ok">

        <hr/>

        <h1 v-if="type === 'A'">A</h1>
        <h1 v-else-if="type === 'B'">B</h1>
        <h1 v-else-if="type === 'C'">C</h1>
        <h1 v-else>你看不见我</h1>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#vue',
            data: {
                ok: true,
                type: 'A'
            }
        });
    </script>

</body>
</html>