<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件复用</title>
    <script src="../js/vue-2.6.10.js"></script>
</head>
<body>

<div id="app">
    <!--    组件可以复用,并且不共享变量的值    -->
    <tao></tao>
    <tao></tao>
</div>

<script>
    //      data: 数据 固定格式 必须有return
    //      可以在模板字符串中正常写vue
    Vue.component('tao',{
        template:`
                <div>
                    {{num}}
                    <input type="button" value="+" @click="num++">
                    <input type="button" value="-" @click="num--">-----------

                    <input type="button" value="+" @click="add()">
                </div>
           `,
        data(){
            return{
                num:1
            }
        },
        methods: {
            add(){
                this.num++
            }
        }
    });


    var vm = new Vue({
        el:'#app',
    })
</script>

</body>
</html>